<!DOCTYPE HTML>
<html>
<head>
<title>
Get active jobs
</title>
<style>
table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form method="POST">
    {% csrf_token %}
        <label for="criteria">Enter title or skills of the required job</label>
        <input type="text" name="criteria" id="criteria"/>
        <select name="select">
            <option value="title">Total active jobs for the given title</option>
            <option value="skills">Total active jobs for the given skill</option>
        </select>
    <button type="submit">submit</button>
</form>

<br/>
<br/>
{% if data %}
<table>
  <tr>
    <th>Title</th>
    <th>Descrption</th>
    <th>Company</th>
    <th>Skills</th>
</tr>
{% for i in data %}
<tr>
    <td>{{i.title}}</td>
    <td>{{i.description}}</td>
    <td>{{i.company}}</td>
    <td>{{i.skills_required}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

</body>
</html>